<%= turbo_frame_tag "borrowing" do %>
    <h1>Borrowing cart</h1>
    <% count = @borrowing.borrowables.count %>
    <% if count > 0 %>
        <%= render "borrowings/borrowables" %>
        <p>
            Total: <%= count %>
            <%= link_to "Finish", checkout_borrowings_path, data: { turbo_method: :post } %>
        </p>
    <% else %>
        <p>Your borrowing cart is empty</p>
    <% end %>
<% end %>