<div id="books">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>ISBN</th>
        <th>Total copies</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
          <%= render book %>
      <% end %>
    </tbody>
  </table>
</div>

