<h1>Books</h1>

<% if librarian_signed_in? %>
  <%= link_to "New book", new_book_path %>  
<% end %>

<div id="books">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>ISBN</th>
        <th>Total copies</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <%= render book %>
      <% end %>
    </tbody>
  </table>
</div>


